.vB_DatePicker td {
	padding: 1px;
	text-align: center;
	width: 15px;
}

.vB_DatePicker .tcat {
	padding: 1px;
	text-align: center;
}

.vB_DatePicker .today {
	padding: 0px;
	border: solid 1px red;
}